<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>AreaGiochiDemoWeb</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

<!-- 	<security-constraint> -->
<!-- 		<display-name>Protected Resources Constraint</display-name> -->
<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>Protected Web Content</web-resource-name> -->
<!-- 			<url-pattern>/resources/*</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 		<auth-constraint> -->
<!-- 			<role-name>ANGULAR_USER_ROLE</role-name> -->
<!-- 		</auth-constraint> -->
<!-- 		<user-data-constraint> -->
<!-- 			<transport-guarantee>CONFIDENTIAL</transport-guarantee> -->
<!-- 		</user-data-constraint> -->
<!-- 	</security-constraint> -->
	
<!-- 	<security-role> -->
<!-- 		<role-name>ANGULAR_USER_ROLE</role-name> -->
<!-- 	</security-role> -->
	
<!-- 	<login-config> -->
<!-- 		<auth-method>FORM</auth-method> -->
<!-- 		<form-login-config> -->
<!-- 			<form-login-page>/login.html</form-login-page> -->
<!-- 			<form-error-page>/error.html</form-error-page> -->
<!-- 		</form-login-config> -->
<!-- 	</login-config> -->
	
</web-app>